[submodule "submodules/design-tokens"]
	path = submodules/design-tokens
	url = git@github.com:xtiandiaz/design-tokens.git
[submodule "submodules/emerald-pixi"]
	path = submodules/emerald-pixi
	url = git@github.com:xtiandiaz/emerald-pixi.git
